 body{
            font-family: 'Roboto', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #ffffff;
            color: #000000;
        }
        header{
            background-color: #f0d507;
            color: #000000;
            font-family: playfair display, serif;
            font-style: italic;
            font-size: 1.2em;
            padding: 0.1em 2em;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: sticky;
            
            
        }
        nav ul{
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            gap: 2rem;
        }
        nav a{
            color: #000000;
            text-decoration: none;
            font-size: 1.7em;
        }
        .home{
            background: url('https://t4.ftcdn.net/jpg/08/02/40/81/240_F_802408102_AcjKfmam8MXIpFpuPdm9wHZKYSJ1AIHf.jpg') center/cover no-repeat;
            height: 100vh;
            padding: 0.1em 0em;
            text-align: center;
            align-content: center;
            color:#ffffff;
            font-size: 2em;
            font-family:'Playfair Display'erif;
            font-style:italic;
            text-shadow: 2px 2px 6px #000;
        }
        section{
            text-align: center;
            font-size: 1.5em;
            font-family: 'Playfair Display', serif;
            font-style: bold;
            padding: 2em;
        }
        .menu {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 2em;
        }
        .items {
            background-color: #f0d507;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.815);
            padding: 1em;
            width: 250px;
        }
        .items img{
            width: 100%;
            border-radius: 10px;
        }
        .story{
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        }
        .staff{
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(12, 12, 12, 0.815);
            padding: 1em;
            width: 250px;
        }
        footer {
        background-color: #000000;
        color: #ffffff;
        text-align: center;
        padding: 0.5em;
        }